@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #3d535f;
    align-items: center;
}

.button {
    /* width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    /* cursor: pointer; */
    /* color: rgb(0, 0, 0); */
    /* font-size: 20px; */
    /* box-shadow: 0 0 5px rgb(0, 0, 0); */
    color: #3d535f;
    width: 70px;
    height: 70px;
    font-size: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 0 10px #3d535f;
}

.button.button:hover {
    box-shadow: 0 0 10px rgb(36, 159, 200);
    ;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 320px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.text-center {
    text-align: center;
    margin-top: 20px;
}

.bg-red {
    background: rgb(0, 0, 0);
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.contain {
    color: brown;
    width: 400px;
    height: 640px;
    background-color: #ccc;
    box-shadow: 0 0 40px rgb(36, 159, 200);
    opacity: 0.5;
    border-radius: 10px;
    align-items: center;
    margin-left: 35%;
    text-align: center;
    margin: auto;
    margin-top: 90px;
}

.btn {
    width: 240px;
    padding: 20px;
    margin: 0 3px;
    /* margin-left: 20px; */
}

.btn1 {
    width: 70px;
    padding: 20px;
    margin-right: 10px;
}